*{
    padding: 0;
    margin: 0;
}
#menu{
position: sticky;
position: -webkit-sticky;
z-index: 10px;
top: 0;
padding: 0;
margin: 0;
}
.navbar{
   
width: 100%;
height: 50px;
background-color: black!important;
}


.nav-item{
    margin-right: 10px;
}
.nav-item a{
    color: blanchedalmond!important;
    display: block;
    padding: 10px;
 }
 .nav-item a:hover{
  background-color: green;    
}
.text h1{
    text-align: center;
    }
 .text p{
     text-align: center;
 }   
 .text div{
     text-align: justify;;
 }
 .text{
     margin:20px 100px 20px 100px;
 }
.row{
    margin:20px 100px 20px 100px;
}
.col-md-3{
    margin:30px;
}
.col-md-3 h1{
    text-align: center;;
}
mark{
   background-color: pink;
}

